<div class="container">
    <div class="masthead">

        <div class="masthead__home">
            <ul class="horizontal">
                <li><a href="{{ site.baseurl }}{% link index.html %}">Phoebeats</a></li>
            </ul>
        </div>

        <div class="masthead__menu">
            <ul class="horizontal">
                {%- for link in site.data.navigation.main -%}
                    <li>
                        <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
                    </li>
                {%- endfor -%}
            </ul>
        </div>
        
    </div>

    

</div>