---
layout: default
---
<div class="container" itemscope itemtype="http://schema.org/Recipe">

<!-- call up the image and image credit link -->
{% for image in page.image %}
<div class="xs-p2">
  <img itemprop="image" src="{{site.baseurl}}/assets/images/{{ image }}" />
  {% if page.imagecredit %}
    {% if page.imagesource %}
        {% for imagecredit in page.imagecredit %}
        <div class="blue right">
            <svg class="js-geomicon geomicon" width="14" height="14" data-icon="camera" viewBox="0 0 32 32" style="fill:currentcolor"><path d="M0 6 L8 6 L10 2 L22 2 L24 6 L32 6 L32 28 L0 28 z M9 17 A7 7 0 0 0 23 17 A7 7 0 0 0 9 17"></path></svg>
            <a href="{{ imagesource }}">
                {{ imagecredit }}
            </a>
        </div>
        
        {% endfor %}
    {% endif %}
  {% endif %}
</div>
{% endfor %}

<article class="post-content px2">
    
  <div class="px2 mt3 clearfix">

    <!-- call up the main recipe title and content -->
    <header class="post-header">
        <h1 class="post-title center m1 sm-mt3" itemprop="name">{{ page.title }}</h1>
    </header>

    <div class="px2 mt3 clearfix">
      
      <div class="sm-col-8 mx-auto" itemprop="description">
        
        {{page.content}}

        {% if page.originalcredit %}
        Original recipe: <a href="{{ page.originalurl }}">{{ page.originalcredit }}</a>
        {% endif %}

      </div>
        
    </div>

  </div>

      <!-- call up recipe and directions -->
  <div class="clearfix mt3">

      <div class="sm-col-ingredients sm-col-6 lg-col-6 ">
          {% if page.ingredients %}
          <h3 class="grey mt0 mb2 xs-center">INGREDIENTS</h4>
          <br>
          <ul class="checklist" itemprop="ingredients">
              <!-- list ingredients that make up recipe -->
              {% for ingredient in page.ingredients %}
              <li itemprop="recipeIngredient">{{ ingredient | markdownify }}</li>
              {% endfor %}
            </ul>
            {% endif %}
        </div>
     
      <div class="sm-col-directions sm-col-6 lg-col-6">
         <h3 class="grey mt0 mb2 xs-center">INSTRUCTIONS</h4>
         <br>
         <ul class="checklist" itemprop="recipeInstructions">
             {% for instruction in page.instructions %}
             <li>{{ instruction | markdownify }}</li>
             {% endfor %}
            </ul>
        </div>

    </div>

</article>

<script type="text/javascript">

    $( document ).ready(function() {
  
    jQuery.fn.clickToggle = function(a,b) {
    var ab=[b,a];
    function cb(){ ab[this._tog^=1].call(this); }
    return this.on("click", cb);
    };
  
    $("ul.checklist li").append('<input type="checkbox">');
    $("ul.checklist li").clickToggle(function(){
      $(this).children("input").prop('checked', true);
      var height = $(this).height();
      var y = $(window).scrollTop();
      $('html, body').animate({scrollTop: y+height+16}, 200);
    }, function(){
      $(this).children("input").prop('checked', false);
      var height = $(this).height();
      var y = $(window).scrollTop();
      $('html, body').animate({scrollTop: y-height-16}, 200);
    });
  
    });
  
  </script>